/*TODO Start Variables */
:root {
    --main-color: #19c8fa;
    --transparent-color: #0f748fb3;
    --transparent-color-1: #0f748f;
    --main-padding: 100px;
    --main-transition-duration: 0.3s;
}
/*TODO End Variables */
/*! !!!!! */
/*TODO Start Global Rules */
html {
    scroll-behavior: smooth;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
body {
    font-family: "Open Sans", sans-serif;
}
.page {
    position: relative;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width:676px) {
    
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/*TODO End Global Rules */
/*TODO Start Header */
header {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 80px;
}
header .container::before {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    left: 15px;
    z-index: -1;
}
header .container .logo img {
    max-width: 112px;
}
header .container nav {
    display: flex;
    align-items: center;
    /* position: relative; */
}
header .container nav > i {
    display: none;
    color: white;
    font-size: 22px;
    margin-right: 10px;
    cursor: pointer;
    transition: var(--main-transition-duration);
}
header .container nav > i:hover {
    color: var(--main-color);
}
header .container nav ul {
    display: flex;
    will-change: opacity, visibility;
    transition: opacity var(--main-transition-duration), visibility var(--main-transition-duration);
}
header .container nav ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 30px 10px;
    transition: var(--main-transition-duration);
}
@media (max-width: 767px) {
    header .container nav ul li:not(:last-child) a {
        border-bottom: 1px solid #a2a2a2;
    }
}
header .container nav ul li a:hover,
header .container nav ul li a.active {
    color: var(--main-color) ;
    border-bottom: 1px solid var(--main-color);
}

header .container nav form i {
    color: white;
    font-size: 22px;
    padding: 5px 0 5px 10px;
    border-left: 2px solid white;
    margin-left: 5px;
    cursor: pointer;
    transition: var(--main-transition-duration);
}
header .container nav form i:hover {
    color: var(--main-color);
}
header .container nav form input {
    outline: none;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    right: 60px;
    top: 50%;
    margin-top: -20px;
    height: 40px;
    width: 0;
    background-color: var(--transparent-color-1);
    border-radius: 3px;
    transition: var(--main-transition-duration);
<<<<<<< HEAD
    will-change: width, opacity;
=======
>>>>>>> b9c1eeb0238709627c15d196a479ec44460f2cfa
    caret-color: var(--main-color);
    color: white;
}
input[type="search"]::-webkit-search-cancel-button {
    filter: invert(1) brightness(2.8) contrast(1.8);
}
header .container nav form input.show-input {
    width: calc(100% - 300px);
    padding-left: 7px;
}
header .container nav form input::placeholder {
    color: white;
}
@media (max-width: 767px) {
    header .container nav > i {
        display: block;
    }
    header .container nav ul {
        display: block;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: 15px;
        top: 80px;
        width: calc(100% - 30px);
        background-color: #0000009c;
        will-change: opacity;
    }
    header .container nav ul.active {
        visibility: visible;
        opacity: 1;
    }
    header .container nav ul li a {
        width: 100%;
    }
}
/*TODO End Header */
/*TODO Start landing */
.landing {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}
.landing .overlay {
    background-image: url(../data/imgs/landing-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: calc(var(--main-transition-duration) + 0.5s);
}
.landing .overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000009c;
}
.landing .container {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50%;
    padding: 0;
}
.landing .container .text {
    background-color: var(--transparent-color);
    color: white;
    padding: 50px 50px 50px 80px;
}
.landing .container .text h1 {
    line-height: 1.5;
}
.landing .container .text p {
    margin-top: 15px;
    font-size: 13px;
    line-height: 1.8;
}
.landing .arrow {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: calc(100% - 50px);
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    margin-left: 25px;
}
.landing .arrow i {
    color: white;
    font-size: 23px;
    cursor: pointer;
    transition: var(--main-transition-duration);
}
.landing .arrow i:hover {
    color: var(--main-color);
}
.landing .bullets {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.landing .bullets span {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #a2a2a2;
    cursor: pointer;
    transition: var(--main-transition-duration);
}
.landing .bullets span.active,
.landing .bullets span:hover {
    background-color: var(--main-color);
}

@media (max-width: 991px) {
    .landing .container {
        width: 100%;
    }
}
/*TODO End Landing */
